<ng-include src="'views/carousel.html'"></ng-include>
<!-- <ng-include src="'views/navSideMenu.html'"></ng-include> -->

<div class="jumbotron">

<div class="row" >
  <div class="col-md-4 top-buffer" ng-repeat="itemsRow in ['1','2','3','4','5','6','7','8']">
    <!-- <div class="thumbnail">
      <a href="#">
        <img src="images/yeoman.png" class="img-responsive" alt="...">
        <div class="caption">
          <h5>Thumbnail label</h5>
        </div>
      </a>
    </div> -->
    <a ng-href="#/products/1">
    <div class="card">
      <img class="card-image" src="images/yeoman.png" alt="Product">
      <div class="card-block">
        <span class="card-title"><h4>Product</h4></span>
        <span class="card-text"><h5>Price</h5></span>
          <!-- <a ng-href="#/products/1" class="btn btn-primary btn-xs">Add to Cart</a> -->
      </div>
    </div>
    </a>
  </div>
</div>

  <!-- <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> -->
</div>

<!-- <div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
 -->