<div class="revert-container center card card-outline-blue whiteColor">
	<strong><h3>Register</h3></strong>
</div>
<div class="revert-container jumbotron">

      <form class="form" ng-submit="register()" accept-charset="UTF-8">

      	<div class="title">
			<h3>
				<strong>Name</strong>	
			</h3>
		</div>

		<div class="form-group has-feedback">
			<div class="input-group">
	          <span class="input-group-addon"><i class="glyphicon glyphicon-align-justify"></i></span>
				<input type="text" class="form-control" placeholder="First Name" ng-model="signup.fName" maxlength="100" required/>
			</div>
		</div>

		<div class="form-group has-feedback">
			<div class="input-group">
	          <span class="input-group-addon"><i class="glyphicon glyphicon-align-justify"></i></span>
				<input type="text" class="form-control" placeholder="Last Name" ng-model="signup.fLame" maxlength="100" required/>
			</div>
		</div>

		<div class="title">
			<h3>
				<strong>Address</strong>	
			</h3>
		</div>

		<div class="form-group has-feedback">
			<div class="input-group">
	          <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
				<input type="text" class="form-control" placeholder="Address Line 1" ng-model="signup.addressL1" maxlength="100" required/>
			</div>
		</div>

		<div class="form-group has-feedback">
			<div class="input-group">
	          <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
				<input type="text" class="form-control" placeholder="Address Line 2" ng-model="signup.addressL2" maxlength="100" required/>
			</div>
		</div>

		<div class="form-group has-feedback">
			<div class="input-group">
	          <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
				<input type="text" class="form-control" placeholder="City" ng-model="signup.city" maxlength="100" required/>
			</div>
		</div>

		<div class="form-group has-feedback">
			<div class="input-group">
	          <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
				<input type="text" class="form-control" placeholder="State" ng-model="signup.state" maxlength="100" required/>
			</div>
		</div>

		<div class="form-group has-feedback">
			<div class="input-group">
	          <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
				<input type="text" class="form-control" placeholder="Country" ng-model="signup.country" maxlength="100" required/>
			</div>
		</div>

		<div class="form-group has-feedback">
			<div class="input-group">
	          <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
				<input type="text" class="form-control" placeholder="Zip" ng-model="signup.zip" maxlength="100" required/>
			</div>
		</div>

		<div class="title">
			<h3>
				<strong>Login Credentials</strong>	
			</h3>
		</div>

		<div class="input-group-btn" ng-init="style={'background-color' : '#428bca'}">
			<button type="button" class="btn btn-secondary btn-sm" ng-style="style1=style" ng-click="updateUserRole(0); style1=style; style2=null; style={'background-color' : '#428bca'}">Customer</button>
			<button type="button" class="btn btn-secondary btn-sm" ng-style="style2" ng-click="updateUserRole(1); style2=style; style=null">Staff</button>
		</div> 

		<br>
		
		<div class="form-group has-feedback">
			<div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
				<input type="email" class="form-control" placeholder="Email" ng-model="signup.email" maxlength="100" required/>
			</div>
		</div>


		<div class="form-group has-feedback">
			<div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
				<input type="password" class="form-control" placeholder="Password" ng-model="signup.password" minlength="6" maxlength="60" required/>
			</div>
		</div>

		<div class="form-group has-feedback">
			<div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
				<input type="password" class="form-control" placeholder="Re-enter Password" ng-model="signup.rpassword" minlength="6" maxlength="60" required/>
			</div>
		</div>

		<div class="form-group has-feedback" ng-show="!isCustomer">
			<div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
				<input type="password" class="form-control" placeholder="Salary" ng-model="signup.salary" minlength="6" maxlength="60" required/>
			</div>
		</div>

		<div class="form-group has-feedback" ng-show="!isCustomer">
			<div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
				<input type="password" class="form-control" placeholder="Job Title" ng-model="signup.jobTitle" minlength="6" maxlength="60" required/>
			</div>
		</div>
      	<p ng-show="signup.password !== signup.rpassword" class="help-block">Passwords don't match!</p>


		<button class="btn btn-block btn-primary" type="submit" ng-disabled="signup.password !== signup.rpassword">Submit</button>

		</form>

	      <p>
	      	<h4>Already a customer?
	     	 	<a id="btn-signin" class="btn btn-primary" href="#/login">Sign In</a>
	      	</h4>
	      </p>
</div>