<div class="jumbotron">

	<div class="header">
		<h3>
			<strong>Sign up</strong>	
		</h3>
	</div>

      <form class="form" ng-submit="register()" accept-charset="UTF-8">
		<div class="form-group has-feedback">
			<div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
				<input type="email" class="form-control" placeholder="Email" aria-describedby="addon-email" ng-model="signup.email" maxlength="100" required/>
			</div>
		</div>


		<div class="form-group has-feedback">
			<div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
				<input type="password" class="form-control" placeholder="Password" aria-describedby="addon-password" ng-model="signup.password" minlength="6" maxlength="60" required/>
			</div>
		</div>

		<div class="form-group has-feedback">
			<div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
				<input type="password" class="form-control" placeholder="Re-enter Password" aria-describedby="addon-reenter-password" ng-model="signup.rpassword" minlength="6" maxlength="60" required/>
			</div>
		</div>

      	<p ng-show="signup.password !== signup.rpassword" class="help-block">Passwords don't match!</p>


		<button class="btn btn-block btn-primary" type="submit" ng-disabled="signup.password !== signup.rpassword">Submit</button>

		</form>

	      <p>
	      	<h4>Already a customer?
	     	 	<a id="btn-signin" class="btn btn-primary" href="#/login">Sign In</a>
	      	</h4>
	      </p>
</div>